body{
	background-color: white;
}
.starter-template{
	margin-top: 100px;
}
.add-date{
	text-align: right;
}
.admin-edit{
	color: grey;
	font-size: 12px;
}
.text-right{
	text-align: right;
}
.thumbnail{
	width: 320px;
	height: 240px;
	margin: auto;
	border-radius: 4px;
}
.thumbnail-min{
	width: 64px;
	height: 48px;
	border-radius: 4px;
}
.thumbnail-mid{
	width: 128px;
	height: 96px;
	border-radius: 4px;
}
.thumbnail-mid-empty{
	width: 128px;
	height: 96px;
	/*line-height: 18px;*/
	border-radius: 4px;
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	display: table;
	padding: 5px;
}
.thumbnail-mid-empty:hover{
	border: 1px solid lightgreen;	
	cursor: pointer;
}
.thumbnail-mid-empty>div{
	display: table-cell;
	vertical-align: middle;
	color: grey;
	text-align: center; 
}
.modal-dialog{
	width: 360px;
	margin: 200px auto;
}
pre.media-body{
	background-color: white;
	padding: 0;
	border-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

hr{
	border-top: 1px solid lightgrey;
}
.bg-success{
	padding: 10px;
	height: 40px;
	color: grey;
	text-align: center;
	display: none;
	cursor: pointer;
}
th{
	cursor: pointer;
}