body{
	background-color: white;
}
.starter-template{
	margin-top: 100px;
}
.add-date{
	text-align: right;
}
.admin-edit{
	color: grey;
	font-size: 12px;
}
.text-right{
	text-align: right;
}
.thumbnail-full{
	max-width: 320px;
	max-height: 240px;
	margin: auto;
	border-radius: 4px;

}
.thumbnail-min{
	width: 64px;
	height: 48px;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
	line-height: 48px;
}
.border{
	background-color: whitesmoke;
	border: 1px solid lightgrey;
}
.thumbnail-min>img{
	max-width: 64px;
	max-height: 48px;
}
.media-object{
	max-width: 64px;
	max-height: 48px;
}
.thumbnail-mid{
	width: 128px;
	height: 96px;
	border-radius: 4px;
}
.thumbnail-mid-empty{
	width: 128px;
	height: 96px;
	border-radius: 4px;
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	display: table;
	padding: 5px;
	text-align: center;
	line-height: 96px;
}
.thumbnail-mid-empty:hover{
	border: 1px solid lightgreen;	
	cursor: pointer;
}
.thumbnail-mid-empty>div{
	display: table-cell;
	vertical-align: middle;
	color: grey;
	text-align: center; 
	line-height: 16px;
}
.thumbnail-mid-empty>img{
	max-width: 128px;
	max-height: 96px;
}
.modal-body{
	/*width: 330px;*/
	/*height: 250px;*/
	border-radius: 4px;
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	display: table;
	padding: 5px;
	text-align: center;
	/*line-height: 250px;*/
	margin: 10px auto;
}

.modal-dialog{
	width: 360px;
	margin: 200px auto;
}
pre.media-body{
	background-color: white;
	padding: 0;
	border-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

hr{
	border-top: 1px solid lightgrey;
}
.bg-success{
	padding: 10px;
	height: 40px;
	color: grey;
	text-align: center;
	display: none;
	cursor: pointer;
}
th{
	cursor: pointer;
}